<div>
    <div class="page-name">
        <h2>{{pageName}}</h2>
        <hr/>
    </div>
    
    <div class="content-container container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="test-font">
                    <p>Name</p>
                </div>
                <input type="text" class="form-control" placeholder="Type here" ng-model="test.name">
            
                <br/>

                <div class="test-font">
                    <p>Description</p>
                </div>
                <textarea class="test-description" rows="5" placeholder="Type here" cols="50" ng-model="test.description"></textarea>     
            
                <br/>
            </div>    
               
            <div class="col-sm-8">
                
                <div class="test-font">
                    <p>Question adding</p>
                </div>
                
                <uib-accordion>
                    <uib-accordion-group is-open="status.open">
                        <uib-accordion-heading>
                            Click here <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>    
                        
                        <div>
                            <p>Type of the question *</p>
                            <div class="btn-group" uib-dropdown="" uib-dropdown-append-to-body="">
                                <button type="button" class="btn btn-primary uib-dropdown-toggle" uib-dropdown-toggle="">
                                    {{toShowTypes[question.typeInd]}} <span class="caret"></span>
                                </button>
                                <ul class="uib-dropdown-menu fill-dropdown-list" role="menu">
                                    <li ng-repeat="type in toShowTypes"><a href="#" ng-click="chooseType($index)">{{type}}</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <br/>
                        
                        <div class="test-font">
                            <p ng-if="question.typeInd === 2">Mark the phrase to insert with: ###phrase###</p>
                            <p>Text of question</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-10">
                                <textarea class="test-description" rows="5" placeholder="Type here" cols="50" ng-model="question.text"></textarea>
                            </div>
                        </div> 
                        
                        
                        <div class="row" nv-file-drop="" uploader="uploader">
                            <div class="col-xs-10" ng-if="question.typeInd === 3">
                                <br/>
                                <div ng-show="!question.mainPicture" class="well my-drop-zone" nv-file-over="" uploader="uploader">
                                    Choose a picture for the question
                                </div>
                                <div ng-show="question.mainPicture">
                                    <label>{{question.mainPicture.name}} <a href="" ng-click="removeMainPicture()"><i class="fa fa-times" aria-hidden="true"></i></a></label>
                                </div>
                            </div>
                        </div>    
                        
                        <br/>
                        
                        <div class="test-font">
                            <p>Question cost</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="number" min="1" class="form-control" placeholder="Type here" ng-model="question.cost">
                            </div>
                        </div>   
            
                        <div ng-if="question.typeInd === 0 || question.typeInd === 3">
                            <div ng-repeat="answer in question.answers track by $index">
                                 <div class="test-font">
                                    <br/> 
                                    <p>Answer #{{$index + 1}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <textarea class="test-description" rows="5" placeholder="Type here" cols="50" ng-model="answer.text"></textarea>
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="checkbox" ng-checked="answer.right" ng-model="answer.right">
                                    </div>
                                </div>
                            </div>
                            
                            <br/>
                            
                            <button class="btn btn-primary" ng-disabled="question.answers.length >= 6" ng-click="addAnswer()">Add an answer</button>
                            <button class="btn btn-primary" ng-disabled="question.answers.length <= 2" ng-click="removeAnswer()">Remove an answer</button>       
                        </div>
                        
                        <br/>    
                        
                        <button class="btn btn-success add-question" ng-click="addQuestion() && (status.open = !status.open)">Add question</button> 
                    </uib-accordion-group>
                </uib-accordion>    
                
                <div ng-if="gridQuestions.data.length > 0">
                    <div class="test-font">
                        <p>Questions</p>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <input type="number" min="1" class="form-control" placeholder="Remove row #: " ng-model="questionToRemove.num">
                        </div>    
                        <div class="col-sm-4">
                            <button class="btn btn-primary" ng-disabled="gridQuestions.data.length === 0" ng-click="removeQuestion()">Remove </button>
                        </div>
                    </div>    

                    <br/>

                    <div class="row">
                        <div class="col-xs-12 test-font text-in">
                            <div ui-grid="gridQuestions" ui-grid-resize-columns ui-grid-edit class="question-grid"></div>
                        </div>
                    </div>
                </div>    
                
                <br/>
            </div>
        </div>
        
        <div class="test-font">
            <p>Choose dates of start and finish</p>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <p class="input-group">
                    <uib-datepicker ng-model="test.from" min-date="minDate" show-weeks="true" class="well well-sm"></uib-datepicker>
                </p>
            </div>

            <div class="col-lg-4 col-md-6">
                <p class="input-group datepicker-to">
                    <uib-datepicker ng-model="test.to" min-date="test.from" show-weeks="true" class="well well-sm"></uib-datepicker>
                </p>
            </div>
        </div>    
        
        <br/>
        
        <div class="test-font">
            <p>Assign students</p>
       
            <div class="row">
                <div class="col-xs-12 text-in">
                    <div ui-grid="gridStudents" ui-grid-selection ui-grid-resize-columns class="stud-grid"></div>
                </div>
            </div>
        </div>    
        <br/>
        
        <button class="btn btn-primary test-adding" ng-disabled="" ng-click="addTest()">Complete </button>
    </div>
</div>    