<div ng-controller="NewTestCtrl">
     <div class="page-name">
        <h2>{{pageName}}</h2>
        <hr/>
    </div>
    
    
    <div class="content-container container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="test-creation">
                    <p>Name</p>
                </div>
                <input type="text" class="form-control" placeholder="Type here" ng-model="test.name">
            
                <br/>

                <div class="test-creation">
                    <p>Description</p>
                </div>
                <textarea class="test-description" rows="5" placeholder="Type here" cols="50" ng-model="test.descr"></textarea>     
            
                <br/>
                
                <div class="test-creation">
                    <p>Questions</p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div ui-grid="gridQuestions" ui-grid-resize-columns class="question-grid"></div>
                    </div>
                </div>
                
                <br/>
            </div>    
               
            <div class="col-sm-8">
                <div class="test-creation">
                    <p>Question adding</p>
                </div>
                <uib-accordion>
                    <uib-accordion-group is-open="status.open">
                        <uib-accordion-heading>
                            Click here <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </uib-accordion-heading>    
                        
                        <div>
                            <p>Type of the question *</p>
                            <div class="btn-group" uib-dropdown="" uib-dropdown-append-to-body="">
                                <button type="button" class="btn btn-primary uib-dropdown-toggle" uib-dropdown-toggle="">
                                    {{toShowTypes[typeInd]}} <span class="caret"></span>
                                </button>
                                <ul class="uib-dropdown-menu fill-dropdown-list" role="menu">
                                    <li><a href="#" ng-click="chooseType(0)">{{toShowTypes[0]}}</a></li>
                                    <li><a href="#" ng-click="chooseType(1)">{{toShowTypes[1]}}</a></li>
                                    <li><a href="#" ng-click="chooseType(2)">{{toShowTypes[2]}}</a></li>
                                    <li><a href="#" ng-click="chooseType(3)">{{toShowTypes[3]}}</a></li>
                                </ul>
                            </div>
                        </div>
                        
                        <br/>
                        
                        <div class="test-creation">
                            <p ng-if="typeInd === 2">Mark the phrase to insert with: ###phrase###</p>
                            <p>Text of question</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-10">
                                <input ng-model="questionText" type="text" class="form-control" placeholder="Type here">
                                {{questionText}}
                            </div>
                        </div>   
                        
                        <br/>
                        
                        <div class="test-creation">
                            <p>Question cost</p>
                        </div>
                        <div class="row">
                            <div class="col-xs-10">
                                <input type="number" min="1" class="form-control" placeholder="Type here" ng-model="questionCost">
                            </div>
                        </div>   
            
                        <div ng-if="typeInd === 0 || typeInd === 4">
                            <div ng-repeat="answer in answers track by $index">
                                 <div class="test-creation">
                                    <br/> 
                                    <p>Answer #{{$index + 1}}</p>
                                </div>
                                <div class="row">
                                    <div class="col-xs-10">
                                        <input type="text" class="form-control" placeholder="Type here" ng-model="answer.text"> 
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="checkbox" ng-checked="answer.right" ng-model="answer.right">
                                    </div>
                                </div>
                            </div>
                            <br/>
                            
                            <button class="btn btn-primary" ng-disabled="answers.length >= 6" ng-click="addAnswer()">Add an answer</button>
                            <button class="btn btn-primary" ng-disabled="answers.length <= 2" ng-click="removeAnswer()">Remove an answer</button>       
                        </div>
                        
                        <br/>    
                        
                        <button class="btn btn-success add-question" ng-click="addQuestion()">Add question</button> 
                    </uib-accordion-group>
                </uib-accordion>    
            </div>
        </div>
        
        <div class="test-creation">
            <p>Choose dates of start and finish</p>
        </div>
        
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <p class="input-group">
                    <uib-datepicker ng-model="test.from" min-date="minDate" show-weeks="true" class="well well-sm"></uib-datepicker>
                </p>
            </div>

            <div class="col-lg-4 col-md-6">
                <p class="input-group datepicker-to">
                    <uib-datepicker ng-model="test.to" min-date="test.from" show-weeks="true" class="well well-sm"></uib-datepicker>
                </p>
            </div>
        </div>    
        
        <br/>
        
        <div class="test-creation">
            <p>Assign students</p>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div ui-grid="gridStudents" ui-grid-selection ui-grid-resize-columns class="stud-grid"></div>
            </div>
        </div>
            
        <br/>

    </div>
</div>    