.panel-title, .fill-dropdown-list li a, uib-accordion {
    color: #529085;
}

.add-question {
    background-color: #71BF71;
}

.stud-grid, .question-grid, .tests-grid {
    min-height: 300px;
}

.ui-grid-row  {
    height: auto;
}

.test-adding {
    margin-bottom: 70px;
}

input[type='file'] {
    color: transparent;
}

.my-drop-zone { border: dotted 3px lightgray; }
.nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
.another-file-over-class { border: dotted 3px green; }
html, body { height: 100%; }
canvas {
    background-color: #f3f3f3;
    -webkit-box-shadow: 3px 3px 3px 0 #e3e3e3;
    -moz-box-shadow: 3px 3px 3px 0 #e3e3e3;
    box-shadow: 3px 3px 3px 0 #e3e3e3;
    border: 1px solid #c3c3c3;
    height: 100px;
    margin: 6px 0 0 6px;
}