.panel-title, .fill-dropdown-list li a, uib-accordion {
    color: #529085;
}

.add-question {
    background-color: #71BF71;
}

.stud-grid, .question-grid, .tests-grid {
    min-height: 250px;
}

.ui-grid-row  {
    height: auto;
}

.test-adding {
    margin-bottom: 70px;
}