<div>
    <div ng-if="!passed" class="container-fluid test-container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-xs-offset-1 col-xs-10">
                <div ng-repeat="question in ::questions.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <div class="question-text test-pass test-font">
                        <p ng-if="question.typeInd === 0">{{currentPage}}. {{question.text}}</p>
                        <p ng-if="question.typeInd === 2">{{currentPage}}. Fill the word</p>
                        <hr/>
                    </div>
                    <div ng-if="question.typeInd === 0 && question.multipleRight" ng-repeat="answer in ::question.answers" class="answer">
                        <pretty-checkbox class="clearfix" multiple ng-model="answer.checked" label="(answer.num + 1) + '.' + ' ' + answer.text"></pretty-checkbox>
                        <br/>
                    </div>
                    <div ng-if="question.typeInd === 0 && !question.multipleRight" ng-repeat="answer in ::question.answers" class="answer">
                        <pretty-radio value="{{$index}}" class="clearfix" ng-model="question.radioChecked" label="(answer.num + 1) + '.' + ' ' + answer.text"></pretty-radio>
                        <br/>
                    </div>
                    <div ng-if="question.typeInd === 2" class="test-font">
                        <p>{{question.firstPart}} <input ng-model="question.studAns" type="text" class="form-control fill-in-answer" placeholder="Type here"> {{question.secondPart}}</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-2 col-xs-1"></div>
            <div class="col-sm-6 col-xs-10">
                <uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm my-pagination" rotate="false" num-pages="numPages" boundary-links="true"></uib-pagination>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-2 col-xs-1"></div>
            <div class="col-xs-10">
                <button class="btn btn-primary sub-btn" ng-disabled="" ng-click="submitTest()">Submit</button>
            </div>
        </div>
         <div class="row">
            <div class="col-sm-3 col-xs-2"></div>
            <div class="col-sm-6 col-xs-8">
                <div class="test-name">
                    <h2>{{testName}}</h2>
                </div>
            </div>
            <div class="col-sm-3 col-xs-2"></div>
        </div>    
    </div>
    
    <div ng-if="passed" class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <pre>{{grade}}</pre>
            </div>
        </div>
    </div>
</div>