.fileTest-grid {
    min-height: 100px;
}

table.t01 th, table.t01 td {
    border: 1px solid black;
    border-collapse: collapse;
}
table.t01 th, table.t01 td {
    padding: 5px;
    text-align: left;
}