html {
	height: 100%;
}

h2 {
    margin-top: 0;
    padding-top: 15px;
    padding-left: 15px;
}

body {
	height: 100%;
	min-height: 100%;
    overflow: hidden;
	position: relative;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.btn-default {
    color: #529085; 
}

.navbar {
    height: 80px;
}

.footer {
    box-shadow: 0 2px 14px 2px #529085;
    background-color: #7DA7A0;
    border-color: #529085;
    opacity: 60%;
    position: fixed;
    height: 60px;
    z-index: 1030;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    padding-top: 20px;
}

.navbar-brand {
    padding: 5px;
    height: 80px;
}

.container-main {
	height: 100%;
	margin: 0 auto -80px;
}


.form-group {
    padding-left: 5px;
    padding-right: 5px;
}

.logo{
    height: 100%;
    opacity: 0.2;
}

.row-indent-down {
    height: 70px;
}

.row-indent-up {
    height: 10px;
}

#view-wrapper .ng-scope {
    height: 100%;
}

@media (min-width: 768px) {
	.row-indent-up {
        height: 50%;
        min-height: 90px;
    }
    .form-group {
        padding: 0;
    }
    #view-wrapper {
        overflow: hidden;
    }
    .container-main {
        overflow: auto;
    }
}

#top-menu {
	box-shadow: 0 2px 14px 2px #529085;
    background-color: #7DA7A0;
    border-color: #529085;
    opacity: 60%;
}

#input-form {
    border-radius:6px; 
    -webkit-border-radius:6px; 
    -moz-border-radius:5px; 
    -khtml-border-radius:10px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #7DA7A0;
    color: white;
}

#background {
     background: url(resources/background.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#view-wrapper {
    height: 100%;
    overflow: auto;
    padding-top: 80px;
    padding-bottom: 60px;
}

.page-name {
    color:  #529085;
    width: 225px;
}

/* Side Navigation */

.side-nav li a {
    outline: none;
    background-color: #7DA7A0 !important;
    border-style: solid;
    border-color: #7DA7A0;
}

.side-nav li a:hover,
.side-nav li a:focus {
    outline: none;
    background-color: white !important;
    border-style: solid;
    border-color: #7DA7A0;
}

.navbar-nav {
    margin: 0px -15px;
}

.navbar-inverse .navbar-toggle {
    border-color: white;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #529085;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #529085;
}

#left-menu > li > a {
    color: white;
}

#left-menu > li > a:hover,
#left-menu > li > a:focus {
    color: #529085;
}

/* Top navigation */

.top-navig > li > a {
    color: white;
    background-color: #7DA7A0;
}

.top-navig > li > a:focus,
.top-navig > li > a:hover,
.top-navig > .open > a,
.top-navig > .open > a:hover,
.top-navig > .open > a:focus {
    color: #7DA7A0;
    background-color: white;
}

.top-navig {
    margin: 0px -15px;
}

/* Navigation for big sizes */

@media (min-width: 768px) {
	.side-nav {
		position: fixed;
		top: 150px;
		left: 225px;
		width: 225px;
		margin-left: -225px;
		border: none;
		border-radius: 0;
		overflow-y: auto;
		overflow-x: hidden;
		height: 100%;
	}

	.side-nav > li > a {
		width: 225px;
	}

	#top-menu {
		opacity: 0.9;
	}
    
    #left-menu > li > a {
        color: #529085;
    }

    #left-menu > li > a:hover,
    #left-menu > li > a:focus {
        color: white;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #7DA7A0 !important;
        border-style: none;
    }
    
    .side-nav li a{
        background-color: white !important;
        border-radius:6px; 
        border-style: none;
        -webkit-border-radius:6px; 
        -moz-border-radius:5px; 
        -khtml-border-radius:10px;
    }
    
    .top-navig {
        padding: 0 15px;
    }

    .top-navig > li {
        display: inline-block;
        float: right;
    }

    .top-navig > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 49px;
        color: white;
    }

    /*    hover navbar buttons    */

    .top-navig > li > a:focus,
    .top-navig > li > a:hover,
    .top-navig > .open > a,
    .top-navig > .open > a:hover,
    .top-navig > .open > a:focus {
        color: #7DA7A0;
        background-color: white;
    }
}