html {
	height: 100%;
}

body {
    padding-top: 50px;
	height: 100%;
	min-height: 100%;
	position: relative;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 15px;
}

.btn-default {
    color: #529085; 
}

.navbar {
    min-height: 80px;
}

.navbar-brand {
    padding: 5px;
    height: 80px;
}

.container-main {
	height: 100%;
	margin: 0 auto -80px;
}

.row-indent {
    height: 25%;
    min-height: 80px;
}

.form-group {
    padding-left: 5px;
    padding-right: 5px;
}

.logo{
    height: 100%;
    opacity: 0.2;
}

@media (min-width: 768px) {
	.row-indent {
        height: 50%;
    }
    .form-group {
        padding: 0;
    }

}

#top-menu {
	box-shadow: 0 2px 14px 2px #529085;
    background-color: #7DA7A0;
    border-color: #529085;
    opacity: 60%;
}

#input-form {
    border-radius:6px; 
    -webkit-border-radius:6px; 
    -moz-border-radius:5px; 
    -khtml-border-radius:10px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #7DA7A0;
    color: white;
}



#wrapper {
    height: 100%;
    background: url(resources/background.jpg)no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}