<div id="background">
    <!-- Container -->
    <div class="container-main container-fluid">

        <div class="row row-indent-up"></div>

        <div class="row">

            <div class="col-sm-6 col-md-8"></div>

            <div class="col-sm-6 col-md-4">
                <form id="input-form" class="form-horizontal">
                   
                    <div class="alert alert-info" role="alert" ng-if="wrongInput">Wrong email or password.</div>
                         
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Email</label>
                        <div class="col-sm-7">
                            <input type="email" class="form-control" placeholder="Email" ng-model="curEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Password</label>
                        <div class="col-sm-7">
                            <input type="password" class="form-control" placeholder="Password" ng-model="curPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-7">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="rememberMe"> Remember me
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-7">
                            <button type="submit" class="btn btn-default" ng-click="login()">Sign in</button>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
        <div class="row row-indent-down"></div>
    </div>
    <!-- /.container -->
</div>