<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="top-menu" role="navigation" ng-controller="HeaderCtrl">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" id="menu-button" ng-click="collapse()" ng-show="showLeftMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" ui-sref="main">
            <img class="logo" alt="Brand" src="components/pics/logo.png"/>
        </a>
    </div>

    <div ng-if="showLeftMenu" class="collapse navbar-collapse"  uib-collapse="isCollapsed">

        <!-- Top Menu Items -->
        <ul class="nav top-navig">
             <li>
                <a ng-click="logout()" href="" >
                    <i class="fa fa-fw fa-power-off"></i>
                    <span>Log out</span>
                </a>
            </li>

            <li>
                <a ng-click="collapse()" href="" >
                    <i class="fa fa-fw fa-question-circle"></i>
                    <span>Help</span>
                </a>
            </li>

            <li>
                <a ng-click="collapse()" href="">
                    <i class="fa fa-fw fa-user"></i>
                    <span>{{auth.getUserName()}}</span>
                </a>
            </li>
        </ul>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        
        <ul class="nav navbar-nav side-nav" id="left-menu">
            <li>
                <a ng-class="auth.isNewTestPage() ? 'selected-link' : ''" ng-click="collapse()" ng-if="auth.isTeacher()" ui-sref="newTest">
                    <i class="fa fa-fw fa-circle-o"></i>
                    <span>New test</span>
                </a>
            </li>
            <li>
                <a ng-class="auth.isMyTestsPage() ? 'selected-link' : ''" ng-click="collapse()" ng-if="auth.isStudent() || auth.isTeacher()" ui-sref="myTests({userId: auth.getId()})">
                    <i class="fa fa-fw fa-circle-o"></i>
                    <span>My tests</span>
                </a>
            </li>
            <li>
                <a ng-class="auth.isStatisticsPage() ? 'selected-link' : ''" ng-click="collapse()" ng-if="auth.isTeacher() || auth.isStudent()" ui-sref="statistics">
                    <i class="fa fa-fw fa-circle-o"></i>
                    <span>Statistics</span>
                </a>
            </li>
             <li>
                <a ng-click="collapse()" ng-if="auth.isTeacher()" href="">
                    <i class="fa fa-fw fa-circle-o"></i>
                    <span>Students</span>
                </a>
            </li>
            <li>
                <a ng-click="collapse()" ng-if="auth.isStudent() || auth.isTeacher()" href="">
                    <i class="fa fa-fw fa-circle-o"></i>
                    <span>My materials</span>
                </a>
            </li>
             <li>
                <a ng-click="collapse()" ng-if="auth.isAdmin()" href="">
                    <i class="fa fa-fw fa-circle-o"></i>
                    <span>User creation</span>
                </a>
            </li>
             <li>
                <a ng-click="collapse()" ng-if="auth.isAdmin()" href="">
                    <i class="fa fa-fw fa-circle-o"></i>
                    <span>List of users</span>
                </a>
            </li>
        </ul>
    </div>    
</nav>     