.footer {
    box-shadow: 0 2px 14px 2px #529085;
    background-color: #7DA7A0;
    border-color: #529085;
    opacity: 60%;
    position: fixed;
    height: 60px;
    z-index: 1030;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    padding-top: 20px;
}