<div>
    <div class="page-name">
        <h2>{{pageName}} 
            <a class="edit-link" ng-click="moveOnEditPage()" ng-if="auth.isTeacher() || auth.isAdmin()" href=""><i class="fa fa-pencil"></i></a>
        </h2>
        <hr/>
    </div>
    
    <div class="content-container container-fluid">
        <div class="row">
            <div class="col-sm-5 col-md-4">
                <div class="test-font">
                    <p>Description:</p>
                    <div class="text-in">
                        <p>
                            <i class="fa fa-book"></i>
                            {{test.description}}
                        </p>
                    </div>
                    
                    <br/>
                    
                    <p>Dates:</p>
                    <div class="text-in">
                        <p> 
                            <i class="fa fa-calendar-check-o"></i>
                            from: {{test.from}}
                        </p>
                        <p> 
                            <i class="fa fa-calendar-times-o"></i>
                            to: {{test.to}}
                        </p>
                    </div>
                    
                    <br/>
                    
                    <p>Teacher</p>
                    <div class="text-in">
                        <p>
                            <i class="fa fa-child"></i>
                            {{test.teacher.firstName + ' ' + test.teacher.lastName}}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-7 col-md-8">
                <div class="test-font">
                    <p>
                        <i class="fa fa-users"></i>
                        Students:
                    </p>
                    <div class="text-in">
                        <div ui-grid="gridStudents" ui-grid-resize-columns class="stud-grid"></div>
                    </div>
                </div>
                
                <br/>
                    
                <div class="test-font" ng-if="auth.isTeacher() || auth.isAdmin()">    
                     <p>
                        <i class="fa fa-question"></i>
                        Questions:
                    </p>
                    <div class="text-in">
                        <div ui-grid="gridQuestions" ui-grid-resize-columns class="question-grid"></div>
                    </div>
                </div>    
            </div>
        </div>
        
        <div class="row" ng-if="auth.isStudent()">
            <div class="col-xs-4">
                <button class="btn btn-primary" ng-disabled="" ng-click="">Start test </button>
            </div>
        </div>
    </div>
</div>